.body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.tranfer_box {
  border: 1px solid white;
  border-radius: 1rem;
  /* color: #512DA8; */
  padding: 2rem;

}

.input {
  border: white 1px ;
  background-color: azure;
  border-radius: 4px;
  color: #512DA8;
  margin-left: 1rem;
}

.label_in {
  margin-top: 0.5rem;
}

.btn {
  background-color: #512DA8;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #522da8af;
}